{% extends 'base.html' %}

{% block title %}Courses {% endblock %}
{% block content %}
    <section class="hero-wrap hero-wrap-2" style="background-image: url('/static/images/bg_1.jpg');">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Courses</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Courses <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section">
			<div class="container-fluid px-4">
				<div class="row">
					<div class="col-md-3 course ftco-animate">
						<div class="img" style="background-image: url('/static/images/course-1.jpg');"></div>
						<div class="text pt-4">
							<p class="meta d-flex">
								<span><i class="icon-user mr-2"></i>Mr. Khan</span>
								<span><i class="icon-table mr-2"></i>10 seats</span>
								<span><i class="icon-calendar mr-2"></i>4 Years</span>
							</p>
							<h3><a href="#">Machine Learning and Algorithms</a></h3>
							<p>“A baby learns to crawl, walk and then run.  We are in the crawling stage when it comes to applying machine learning.”</p>
							<p><a href="#" class="btn btn-primary">Know More</a></p>
						</div>
					</div>
					<div class="col-md-3 course ftco-animate">
						<div class="img" style="background-image: url('/static/images/course-2.jpg');"></div>
						<div class="text pt-4">
							<p class="meta d-flex">
								<span><i class="icon-user mr-2"></i>Mr. Khan</span>
								<span><i class="icon-table mr-2"></i>10 seats</span>
								<span><i class="icon-calendar mr-2"></i>4 Years</span>
							</p>
							<h3><a href="#">Data Structure and Algorithms</a></h3>
							<p>“Algorithms are not arbiters of objective truth and fairness simply because they're math.”</p>
							<p><a href="#" class="btn btn-primary">Know More</a></p>
						</div>
					</div>
					<div class="col-md-3 course ftco-animate">
						<div class="img" style="background-image: url('/static/images/course-3.jpg');"></div>
						<div class="text pt-4">
							<p class="meta d-flex">
								<span><i class="icon-user mr-2"></i>Mr. Khan</span>
								<span><i class="icon-table mr-2"></i>10 seats</span>
								<span><i class="icon-calendar mr-2"></i>4 Years</span>
							</p>
							<h3><a href="#">Internet of Things</a></h3>
							<p>“If you think that the internet has changed your life, think again. The Internet of Things is about to change it all over again!”</p>
							<p><a href="#" class="btn btn-primary">Know More</a></p>
						</div>
					</div>
					<div class="col-md-3 course ftco-animate">
						<div class="img" style="background-image: url('/static/images/course-4.jpg');"></div>
						<div class="text pt-4">
							<p class="meta d-flex">
								<span><i class="icon-user mr-2"></i>Mr. Khan</span>
								<span><i class="icon-table mr-2"></i>10 seats</span>
								<span><i class="icon-calendar mr-2"></i>4 Years</span>
							</p>
							<h3><a href="#">Political Science</a></h3>
							<p>
								“Loyalty to country ALWAYS. Loyalty to government, when it deserves it.”</p>
							<p><a href="#" class="btn btn-primary">Know More</a></p>
						</div>
					</div>

					<div class="col-md-3 course ftco-animate">
						<div class="img" style="background-image: url('/static/images/course-5.jpg');"></div>
						<div class="text pt-4">
							<p class="meta d-flex">
								<span><i class="icon-user mr-2"></i>Mr. Khan</span>
								<span><i class="icon-table mr-2"></i>10 seats</span>
								<span><i class="icon-calendar mr-2"></i>4 Years</span>
							</p>
							<h3><a href="#">Electrical Engineering</a></h3>
							<p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p>
							<p><a href="#" class="btn btn-primary">Know More</a></p>
						</div>
					</div>
					<div class="col-md-3 course ftco-animate">
						<div class="img" style="background-image: url('/static/images/course-6.jpg');"></div>
						<div class="text pt-4">
							<p class="meta d-flex">
								<span><i class="icon-user mr-2"></i>Mr. Khan</span>
								<span><i class="icon-table mr-2"></i>10 seats</span>
								<span><i class="icon-calendar mr-2"></i>4 Years</span>
							</p>
							<h3><a href="#">Marketing Management</a></h3>
							<p>“It's not what you sell that matters as much as how you sell it!”</p>
							
							
							<p><a href="#" class="btn btn-primary">Know More</a></p>
						</div>
					</div>
					<div class="col-md-3 course ftco-animate">
						<div class="img" style="background-image: url('/static/images/course-7.jpg');"></div>
						<div class="text pt-4">
							<p class="meta d-flex">
								<span><i class="icon-user mr-2"></i>Mr. Khan</span>
								<span><i class="icon-table mr-2"></i>10 seats</span>
								<span><i class="icon-calendar mr-2"></i>4 Years</span>
							</p>
							<h3><a href="#">Graphic Design</a></h3>
							<p> “There are three responses to a piece of design – yes, no, and WOW!Wow is the one to aim for"</p>
							<p><a href="#" class="btn btn-primary">Know More</a></p>
						</div>
					</div>
					<div class="col-md-3 course ftco-animate">
						<div class="img" style="background-image: url('/static/images/course-8.jpg');"></div>
						<div class="text pt-4">
							<p class="meta d-flex">
								<span><i class="icon-user mr-2"></i>Mr. Khan</span>
								<span><i class="icon-table mr-2"></i>10 seats</span>
								<span><i class="icon-calendar mr-2"></i>4 Years</span>
							</p>
							<h3><a href="#">Human Resource Management</a></h3>
							<p> “If you think hiring professionals is expensive, try hiring amateurs.”</p>
							<p><a href="#" class="btn btn-primary">Know More</a></p>
						</div>
					</div>
				</div>
			</div>
		</section>

{% endblock %}
